### Import your libraries

In [64]:
# Import Libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Load your dataset

In [65]:
df = pd.read_csv("/Users/hamadbinmohammed/labs/Missing-Data-Lab1/HR_Missing_Values.csv")

### Explore your data 

* First 5 recods
* Last 5 records 
* Check data type
* Show statistical summary 
* Is there any missing values ?
* Applay two more data analysis from your choose

In [66]:
df.head()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0

In [67]:
df.tail()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Name      218 non-null    object
 1   EmpID              311 non-null    int64
 2   Salary             249 non-null    float64
 3   PositionID         311 non-null    int64
 4   Position           311 non-null    object
 5   DOB                280 non-null    object
 6   Sex                249 non-null    object
 7   MaritalDesc        311 non-null    object
 8   RaceDesc           311 non-null    object
 9   DateofHire         311 non-null    object
 10  DateofTermination  104 non-null    object
 11  Department         311 non-null    object
 12  ManagerName        311 non-null    object
 13  ManagerID          303 non-null    float64
 14  RecruitmentSource  311 non-null    object
 15  Absences           280 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 39.0+ KB

In [69]:
df.describe()

              EmpID         Salary  PositionID   ManagerID    Absences
count    311.000000     249.000000  311.000000  303.000000  280.000000
mean   10156.000000   67972.662651   16.845659   14.570957   10.128571
std       89.922189   22995.908395    6.223419    8.078306    5.946407
min    10001.000000   45046.000000    1.000000    1.000000    1.000000
25%    10078.500000   55315.000000   18.000000   10.000000    4.750000
50%    10156.000000   62957.000000   19.000000   15.000000   10.000000
75%    10233.500000   71707.000000   20.000000   19.000000   15.250000
max    10311.000000  220450.000000   30.000000   39.000000   20.000000

In [70]:
df.isnull().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [71]:
df.shape

(311, 16)

### Do the following steps for each column with missing values.

* Identity the column 
* How much precentage the missing value represents 
* What is the best way to handle these missing values and why
* Apply your method to the column

In [72]:
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [73]:
df.isnull().sum() * 100 / len(df)

Employee_Name        29.903537
EmpID                 0.000000
Salary               19.935691
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              9.967846
dtype: float64

# Data Dropping

In [74]:
# here we can drop all the missing value but we will erase very important value 
d_data = df.dropna()
d_data

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
24,"Bondwell, Betsy",10267,57815.0,20,Production Technician II,01/16/67,F,Single,White,1/10/2011,4/4/2014,Production,Elijiah Gray,16.0,Google Search,5.0
32,"Bunbury, Jessica",10188,74326.0,3,Area Sales Manager,06/01/64,F,Married,Black or African American,8/15/2011,8/2/2014,Sales,John Smith,17.0,Google Search,19.0
46,"Chivukula, Enola",10240,64786.0,19,Production Technician I,08/27/83,F,Single,White,6/27/2011,11/15/2015,Production,Amy Dunn,11.0,Indeed,3.0
53,"Cole, Spencer",10292,59144.0,19,Production Technician I,08/12/79,M,Single,Black or African American,7/11/2011,9/23/2016,Production,Kissy Sullivan,20.0,LinkedIn,16.0
68,"Demita, Carla",10100,58275.0,20,Production Technician II,02/25/51,F,Separated,Black or African American,4/4/2011,11/4/2015,Production,Kelley Spirea,18.0,Google Search,1.0
89,"Ferguson, Susan",10189,57748.0,19,Production Technician I,04/14/55,F,Married,White,11/7/2011,5/17/2016,Production,Webster Butler,39.0,Google Search,16.0
94,"Foreman, Tanya",10163,55965.0,20,Production Technician II,11/08/83,F,Married,White,4/4/2011,1/9/2013,Production,Ketsia Liebig,19.0,Google Search,6.0
104,"Gill, Whitney",10142,59370.0,3,Area Sales Manager,07/10/71,F,Widowed,Black or African American,7/7/2014,9/5/2015,Sales,John Smith,17.0,CareerBuilder,7.0
108,"Goble, Taisha",10246,114800.0,8,Database Administrator,10/23/71,F,Single,White,2/16/2015,3/15/2015,IT/IS,Simon Roup,4.0,Indeed,10.0
124,"Harrington, Christie",10097,52177.0,19,Production Technician I,08/18/52,F,Single,White,1/9/2012,12/15/2015,Production,Webster Butler,39.0,CareerBuilder,8.0
132,"Howard, Estelle",10182,49920.0,2,Administrative Assistant,09/16/85,F,Married,Black or African American,2/16/2015,4/15/2015,Admin Offices,Brandon R. LeBlanc,1.0,Indeed,6.0
143,"Johnson, George",10034,46837.0,19,Production Technician I,08/19/59,M,Married,White,11/7/2011,4/29/2018,Production,Michael Albert,22.0,CareerBuilder,9.0
151,"Kinsella, Kathleen",10166,54005.0,19,Production Technician I,12/08/73,F,Married,White,9/26/2011,6/4/2015,Production,Webster Butler,39.0,Google Search,16.0
158,"Langford, Lindsey",10106,66074.0,20,Production Technician II,07/25/79,F,Divorced,Asian,1/7/2013,3/31/2014,Production,David Stanley,14.0,Indeed,20.0
168,"Linares, Marilyn",10186,52624.0,19,Production Technician I,03/26/81,F,Married,White,7/5/2011,9/26/2018,Production,Michael Albert,22.0,Indeed,16.0
178,"Mancuso, Karen",10073,68407.0,20,Production Technician II,12/10/86,F,Married,Two or more races,7/5/2011,8/19/2012,Production,Amy Dunn,11.0,LinkedIn,16.0
212,"Patronick, Lucas",10005,108987.0,24,Software Engineer,02/20/79,M,Single,Black or African American,11/7/2011,9/7/2015,Software Engineering,Alex Sweetwater,10.0,Diversity Job Fair,13.0
213,"Pearson, Randall",10259,93093.0,9,Data Analyst,09/05/84,M,Married,White,12/1/2014,5/1/2016,IT/IS,Simon Roup,4.0,Employee Referral,19.0
214,"Smith, Martin",10286,53564.0,19,Production Technician I,03/17/88,M,Single,Black or African American,1/10/2011,12/28/2017,Production,Webster Butler,39.0,Google Search,15.0
217,"Peters, Lauren",10032,57954.0,20,Production Technician II,08/17/86,F,Married,White,5/16/2011,2/4/2013,Production,Ketsia Liebig,19.0,Indeed,12.0
227,"Quinn, Sean",10131,83363.0,23,Software Engineer,11/06/84,M,Married,Black or African American,2/21/2011,8/15/2015,Software Engineering,Janet King,2.0,Diversity Job Fair,4.0
231,"Rhoads, Thomas",10058,45115.0,19,Production Technician I,07/22/82,M,Divorced,White,5/16/2011,1/15/2016,Production,Elijiah Gray,16.0,LinkedIn,11.0
236,"Robinson, Cherly",10285,61422.0,19,Production Technician I,01/07/85,F,Married,White,1/10/2011,5/17/2016,Production,Ketsia Liebig,19.0,Indeed,16.0
256,"Sloan, Constance",10095,63878.0,20,Production Technician II,11/25/87,F,Single,White,10/26/2009,4/8/2015,Production,Michael Albert,22.0,CareerBuilder,20.0
259,"Smith, Leigh Ann",10153,55000.0,2,Administrative Assistant,06/14/87,F,Married,Black or African American,9/26/2011,9/25/2013,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,17.0
279,"Theamstern, Sophia",10141,48413.0,19,Production Technician I,05/09/65,F,Single,White,7/5/2011,9/5/2016,Production,Amy Dunn,11.0,Indeed,1.0
296,"Wallace, Courtney E",10274,80512.0,18,Production Manager,11/14/55,F,Married,Black or African American,9/26/2011,1/2/2012,Production,Janet King,2.0,Diversity Job Fair,5.0
301,"Wilber, Barry",10048,55140.0,19,Production Technician I,09/09/65,M,Married,White,5/16/2011,9/7/2015,Production,Amy Dunn,11.0,Website,7.0
302,"Wilkes, Annie",10204,58062.0,19,Production Technician I,07/30/83,F,Divorced,White,1/10/2011,5/14/2012,Production,Ketsia Liebig,19.0,Google Search,9.0
304,"Winthrop, Jordan",10033,70507.0,20,Production Technician II,11/07/58,M,Single,White,1/7/2013,2/21/2016,Production,Brannon Miller,12.0,LinkedIn,7.0

In [75]:
# in order to avoid this kind of mistake we need only to erase data that is not important like DOB 
d_data1 = df.dropna(axis=1)
d_data1

,EmpID,PositionID,Position,MaritalDesc,RaceDesc,DateofHire,Department,ManagerName,RecruitmentSource
0,10026,19,Production Technician I,Single,White,7/5/2011,Production,Michael Albert,LinkedIn
1,10084,27,Sr. DBA,Married,White,3/30/2015,IT/IS,Simon Roup,Indeed
2,10196,20,Production Technician II,Married,White,7/5/2011,Production,Kissy Sullivan,LinkedIn
3,10088,19,Production Technician I,Married,White,1/7/2008,Production,Elijiah Gray,Indeed
4,10069,19,Production Technician I,Divorced,White,7/11/2011,Production,Webster Butler,Google Search
...,...,...,...,...,...,...,...,...,...
306,10135,20,Production Technician II,Single,White,7/7/2014,Production,Kissy Sullivan,LinkedIn
307,10301,19,Production Technician I,Single,Asian,9/2/2008,Production,Brannon Miller,Google Search
308,10010,6,CIO,Single,White,4/10/2010,IT/IS,Janet King,Employee Referral
309,10043,9,Data Analyst,Single,White,3/30/2015,IT/IS,Simon Roup,Employee Referral
310,10271,19,Production Technician I,Widowed,Asian,9/29/2014,Production,David Stanley,LinkedIn

In [76]:
df.isnull().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [84]:
df.fillna(0)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,0,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,0,F,Married,White,1/7/2008,0,Production,Elijiah Gray,16.0,Indeed,15.0
4,0,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,0,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,0,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,0,10010,220450.0,6,CIO,0,F,Single,White,4/10/2010,0,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,0,IT/IS,Simon Roup,4.0,Employee Referral,0.0
310,0,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,0,Production,David Stanley,14.0,LinkedIn,2.0